/* Place CSS styles here */

body{
    color: rgb(147, 1, 79); 
    background-color: rgb(240, 181, 229);
}

img{
    width: 40%;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

h2 {
    text-align: center;
}

h3 {

}

a {
    color: darkmagenta;
}

.catalyst {
    text-align: center;
}

.BUY-HER {
    text-align: center;
}

.Barbie-fire {
    text-align: center;
}

.HOW-TO-HELP {
text-align: inherit;
}
